.git
.github
.m2
.vscode
.idea

.env
.env.*

**/target
**/*.class
**/*.jar
!.mvn/wrapper/maven-wrapper.jar
**/.classpath
**/.project
**/.settings

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.log
.DS_Store
desktop.ini
docs/screenshots
contracts/payments.completed.*/
